
@font-face {
    font-family: 'Futura' ;
    src: url('fonts\\futura.ttf') format('truetype');
}

@font-face {
    font-family: 'Futura Book' ;
    src: url('fonts\\Futura Book font.ttf') format('truetype');
}

*{
    margin: 0;
    padding: 0;
    color: #fff;
    border: none;
    box-sizing: border-box;
    color: rgb(218, 234, 247);
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal; 
    
}

body{

    margin: 0 50px;
    background-color: #0F172A;

}
p{
    margin: 0 0 10px 0;
}


#container-left{
    margin-top: 100px;
    padding-left: 10%;
    width: 50%;
    float: left;
    position: fixed;
    
}

#container-right{
    margin-top: 100px;
    padding-left: 5%;
    padding-right: 5%;
    width: 50%;
    float: right; 
}
.title-name{
    font-size: 48px;
    margin: 0 0 10px 0;
    padding: 0;
    
}

.subtitle-occupation{
    font-size: 24px;
    color: #f7f7ff;
    margin: 0 0 15px 0;
    padding: 0;
    
}

.subtitle-abstract{
    font-size: 18px;
    line-height: 20px;
    color:  #8D9CB1;
    margin: 0 0 20px 0;
    padding: 0;
}

.container-topics{
    margin-bottom: 2px;

}



.topic-line{
    width: 30px;
    height: 100%; 
    margin-bottom: 4px;
    border-bottom: 1px solid gray;
    padding: 10px;
    display: inline-block;
    transition: width 0.3s;
   
}


.topic{
    display: inline-block;
    font-size: 12px;
    opacity: 0.5;
    
    
}



.container-redes-sociais{
    margin-top: 180px;
}



.title-topics{
    display: none;
}

.container-card{  
    width: 100%;
    height: 100%; 
    margin-top: 10px;
    border-radius: 5px; 
    padding: 10px;
    transition: background-color 0.7s;  
}

.container-card:hover{
    background-color: rgba(255, 255, 255, 0.05);
    /*box-shadow: 0 4px 8px 0 rgba(200, 204, 249, 0.2), 0 6px 20px 0 rgba(200, 204, 249, 0.19);*/
    cursor: pointer;
}

#section-experience{
    overflow: hidden;
    max-height: 100em;
    transition: max-height 0.5s ease;
}

#section-experience.hide{
    max-height: 0;
}



.column-date-experience{
    font-size: 12px;
    float: left;
    padding: 5px;
    width: 25%;
    color: #979cb6;
 
   
}
.row-date-experience{
  
    height: 100%;
}

.column-info-experience{
    font-size: 12px;
    padding: 5px;
    float: left;
    width: 75%;

}

.title-info-experience{
    font-size: 18px;
    color: #FFF;
}

.enterprise-experience{
    font-family: "Futura", sans-serif;
    font-style: bold;
    font-size: 12px;
    padding: 5px 5px 0 0;
    color:#8F9EB3;
    display: inline-block;


}

.info-experience {
    padding-top: 5px;
    font-size: 14px;
    line-height: 20px;
    color:#8F9EB3;

    
}
.tag-skill{
    font-family: "Futura", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: bold;
    font-size: 10px;
    display: inline-block;
    padding: 5px 10px;
    color: rgba(0, 255, 213, 1);
    background-color: rgba(0, 255, 213, 0.1);
    margin: 5px 0 5px 0;   
    border-radius: 10px;
}

.icons-social-media{
    padding: 10px;
    opacity: 0.5;   
    transition: transform 0.5s;

}

.icons-social-media:hover{
    opacity: 1;
    cursor: pointer;
    transform: scale(1.5);
}

.text-bold{
    font-weight: bold;
    opacity: 0.8;

}

.sobre{
    font-size: 16px;
    line-height: 26px;
    color:#8F9EB3;
   
}
.dropdown-section{
    margin-top: 100px;
    margin-bottom: 30px;
    
}

.dropdown-section h6,i{
    color: rgba(255, 255, 255, 0.3);
    display: inline-block;
}

.dropdown-section:hover h6,i{
    cursor: pointer;
    color: rgba(255, 255, 255, 1.0);
}

#section-projects{
    overflow: hidden;
    max-height: 100em;
    transition: max-height 0.5s ease;
    display: flex;
    flex-direction: column;
}

#section-projects.hide{
    max-height: 0;
}
.projects{
    display: flex;
    flex-direction: row;
}

.img-project{
    border: 1px solid rgb(92, 92, 92);
}

.title-project{
    display: inline-block;
    font-size: 18px;
    padding: 0  0 10px 40px;
}
.setinha{
    transition: padding 0.3s ease-in-out;
}

.info-project{
    font-size: 16px;
    padding: 0  0 10px 40px;
    line-height: 20px;
    color:#8F9EB3;
}

.tags{
   
    margin: 0 0 0 40px
}





/*fonts*/



.futura{
    font-family: 'Futura', sans-serif;
    font-weight: bold;
}

.futura-Book{
    font-family: 'Futura Book', sans-serif;
    font-weight: normal;
}
.montserrat-semibold-600 {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
  }

  .montserrat-medium-500{
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal; 
  }

  .montserrat-regular-400{
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal; 
  }

  .montserrat-light-200{
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: light;  
    color: #b3b8cd;
    line-height: 16px;

  }

  /* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    body{
        margin: 0 40px;
        display: flex;
        flex-direction: column;
    }

    p{
        margin: 0 ;
    }
    #container-left{
     
        margin: 50px 0 0 0;
        padding: 0;
        width: 100%;
        position: static;
        
    }

    .title-name{
        font-size: 48px;
        margin: 0 0 0 0;
        padding: 0;
        
    }

    .subtitle-occupation{
        font-size: 24px;
        color: #f7f7ff;
        margin: 0 0 0 0;
        padding: 5px 0 0 0;
        
    }

    .subtitle-abstract{
        font-size: 18px;
        line-height: 20px;
        color:  #8D9CB1;
        margin: 0 0 0 0;
        padding: 20px 0 0 0;
    }

    .container-topics{
        display: none;
        margin: 0 0 0 0 ;
        padding: 0;
    }

    .container-redes-sociais{
        padding: 30px 0 0 0 ;
        margin: 0;
    }

    .icons-social-media{
        padding: 0 20px  0 0;
        margin: 0;
    }

    .title-topics{
        
        display: block;
        margin: 0;  
        padding: 50px 0 10px 0;
        font-size: 16px;

    }

    .sobre{
        padding: 0 0 0 0;
        margin: 0 0 0 0;
    }

    #container-right{

        margin: 0 0 0 0;
        padding: 100px 0 0 0;
        width: 100%;
        
    }

    

    .dropdown-section{
        display: none;
    }


    .container-card{  
        width: 100%;
        height: 100%; 
        margin:0; 
        padding: 0;      
       
    }
    
    .container-card:hover{
        background-color: rgba(255, 255, 255, 0);
    }

    .column-date-experience{
        font-size: 12px;
        float: none;
        padding: 30px 0 0 0 ;
        margin: 0;
        width: 100%;
        color: #979cb6;       
    }

    .column-info-experience{
        font-size: 12px;
        padding: 10px 0 0 0;
        margin: 0;
        float: none;
        width: 100%;
       
    }

    .row-date-experience{ 
       
        margin: 0 ;
        padding: 0;
    }

    .title-info-experience{
        margin: 0;
        padding: 0;
    }

    .info-experience {
        padding: 20px 0;
        font-size: 14px;
        line-height: 20px;
        color:#8F9EB3;
    }
    
    #section-projects{
        padding: 0 0 0 0;
    }

    .projects{
        display: flex;
        flex-direction: column;
        padding: 30px 0 0 0;
        margin: 0;
    }

    .title-project{
        display: inline-block;
        font-size: 14px;
        padding: 0  0 5px 0;
    }
    .setinha{
        transition: padding 0.3s ease-in-out;
    }
    
    .info-project{
        font-size: 12px;
        margin: 0;
        padding: 0  0 10px 0;
        line-height: 16px;
        color:#8F9EB3;
    }

 
    .tag-skill{
        font-family: "Futura", sans-serif;
        font-optical-sizing: auto;
        font-weight: 500;
        font-style: bold;
        font-size: 12px;
        display: inline-block;
        padding: 5px 10px;
        color: rgba(0, 255, 213, 1);
        background-color: rgba(0, 255, 213, 0.1);
        margin: 5px 0 5px 0;  
        border-radius: 10px;
    }

    .project-img{
      padding: 20px 0 0 0;
      order: 2;
    }

    .project-title-description-skills{
        order: 1;
    }

    .tags{
   
        margin: 0 0 0 0px
    }
    
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {}


